<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - BootstrapAdmin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/master.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar" class="col-xs-12 active">
            <div class="sidebar-header">
                <img src="~/img/bootstraper-logo.png" alt="bootraper logo">
            </div>
            <!-- 右侧导航 -->
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a asp-page="/Index"><i class="fas fa-home"></i>监控</a>
                </li>
                <li>
                    <a asp-page="/Privacy"><i class="fas fa-user"></i>账号</a>
                </li>
                <li>
                    <a asp-page="/Privacy"><i class="fas fa-dice-four"></i>房卡房间</a>
                </li>
            </ul>
        </nav>
        <div id="body" class="active">
            <!-- 视图上方导航 -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light"><i class="fas fa-bars"></i><span></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="" class="nav-item nav-link dropdown-toggle text-secondary" data-toggle="dropdown"><i class="fas fa-user"></i><span>我</span><i style="font-size:.8em;" class="fas fa-caret-down"></i></a>
                                <div class="dropdown-menu dropdown-menu-right nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="" class="dropdown-item"><i class="fas fa-address-card"></i> 注销</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- 视图内容 -->
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/eb911b3ddf.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
